html {
    font-size: 150%;
}
body {
    font-family: sans-serif;
    padding:0;
    margin:0;
}

/*
* Reiniciamos el estilo de los botones para iOS
*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: none;
}
/*
* Botones
*/
.btn {
    width: 95%;
    display : block;
    line-height : 1;
    color : white;
    text-align : center;
    vertical-align : middle;
    font-size: .8rem;
    white-space:nowrap;
    background-color : #ff4842;
    border : none;
    font-weight: bold;
    cursor : pointer;
    margin: .5em auto;
    /*margin-left: 1px;   */
    padding: 1em;
    border-radius: 1px;
}

    /**
    * Nadie quiere un botón con texto subrayado cuando
    * hacemos hover.
    */

    .btn:hover {
        text-decoration : none;
    }
    .btn:active,
    .btn:focus{
        outline:none;
    }
/*
* Header Styles
*/
.Api {
    text-align: center;
    background-color: #16210b;
    color: white;
    padding: .4em;
}

    .Api h1 {
        margin: 0;
    }
    .Api h2 {
        font-size: 1rem;
        font-weight: normal;
    }


/*
* Módulo .search
*/
.search {
    padding: 0;
    font-size: 3rem;
}

    .search__text {
        margin-bottom: .5em;
        display:  block;
        width: 95%;
        margin: 0 auto .5em auto;
        font-size: 1rem;
    }


/*
* Estilizamos el módulo de las cards, cada resumen de tiempo de
* las ciudades
*/
.Main {
    overflow: hidden;
}

.Main__box {
    position: relative;
    height: 30vh;
    width: 100vw;
    background-color: #eaeaea;
    background-size: cover;
    background-position:center;
    color: white;
    text-shadow: 0 0 3px black;
    font-family: 'Lato', cursive;
    padding: 1.5em;
    margin-bottom: .5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}

    .Main__title {
        margin:0;
        text-align: center;
    }
    .Main__time {
        font-size:.7rem;
        text-align: center;
        margin: 0;
    }

    .Main__time::after, .Main__time::before {
        content: " - ";
    }

    .Main__info {
        position: absolute;
        bottom: .4em;
        left:.4em;
        font-size: .7rem;
        text-align: center;
    }
        .Main__image {
          display: block;
        }
        .Main__max {
          color: #37b948;
          text-shadow: none;
        }
          .Main__max::before {
              content: "max: ";
          }
          .Main__max::after {
            content: "ºC"
          }
        .Main__min{
          color: #bc2929;
          text-shadow: none;
        }
          .Main__min::before {
              content: "min: ";
          }
          .Main__min::after {
            content: "ºC"
          }
        .Main__temp {
            display: block;
            font-size: 3rem;
            line-height: 1;
        }
          .Main__temp::after {
            content: " ºC";
            font-size: 2rem;
          }


    /*
    * Añadimos modificaciones para los posibles diferentes
    * fondos de ciudades
    */
    .Main--valencia {
        background-image:url(../img/valencia.jpg);
    }

    .Main--mountainview {
        background-image:url(../img/mv.jpg);
    }

/*
 * Loader
 */
 .loader {
   text-align: center;
   padding: 1em;
 }


@media (min-width: 600px){
    .search {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
    }
        .search__text {
            width: 75%;
            display: inline-block;
            margin-bottom:  0;
        }
        .btn{
            width: inherit;
            display: block;
            margin: 0;
            margin-left: 1px;
        }
}